* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #4da4fc;
}

h1,
h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
.icon {
  position: relative;
}
.arrow-left,
.bars {
  font-size: 30px;
  color: #4da4fc;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
}
.bars {
  scale: 1;
  transition: all 0.3s ease;
}
.arrow-left {
  transform: rotate(0);
  scale: 0;
  transition: all 0.3s ease;
}
#icon-menu:checked ~ .icon .arrow-left {
  transform: rotate(180deg);
  scale: 1;
}

#icon-menu:checked ~ .icon .bars {
  scale: 0;
}

.menu li {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

#icon-menu:checked ~ .menu li {
  opacity: 1;
  visibility: visible;
}

#icon-menu:checked ~ .menu {
  animation: checked-burger 1s linear;
  animation-fill-mode: forwards;
}
.menu {
  width: 120px;
  height: 120px;
  border-bottom-right-radius: 100%;
  background-color: #fff;
  padding-top: 80px;
  animation: not-checked-burger 0.4s linear;
}
.menu li a {
  color: #4da4fc;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  padding: 8px 100px 8px 50px;
}
.menu li {
  cursor: pointer;
  width: 200px;
}

.menu li:has(a:focus) {
  background-color: #e4e4e4;
}

.menu li a:focus {
  color: #000;
}
.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.title,
.sub-title {
  color: #fff;
  text-transform: lowercase;
}

.title {
  font-size: 40px;
}
.sub-title {
  margin-top: 12px;
  font-size: 30px;
  font-weight: 300;
}
.sub-title span {
  font-size: 20px;
}

@keyframes checked-burger {
  50% {
    width: 3000px;
    height: 3000px;
  }
  100% {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
@keyframes not-checked-burger {
  0% {
    width: 3000px;
    height: 3000px;
  }
}
