@font-face {
	font-family: "Tiktok";
	src: url(../fonts/TikTokFont-Regular.woff2);
}

body{
	padding: 20px;
}
h2 {
	font-family: Tiktok;
	font-size: 1rem;
	width: 800px;
	color:white;
	padding: 10px;
	background-color: #d95925;
}
label{
	display: flex;
	background: #ddd;
}
p {
	font-family: Tiktok;
}
input[type="checkbox"]{
	display: none;
}
span i {
	font-size: 25px;
	margin: 10px;
}
aside{
	padding: 10px;
	display: none;
	font-weight: 300;
}
.iconremove{
	display: none;
}
input:checked ~ aside{
	display: inherit;
}
input:checked + label > .iconadd{
	display: none;
}
input:checked + label > .iconremove{
	display: inherit;
}