h1{
    text-align: center;
}
hr{
    width: 50px;
    height: 3px;
    background-color:rgba(8, 8, 188, 0.778)
}
div{
    display: inline-block;
    width: 30%;
}
img{
    display:inline-block;
    width: 100px;
    float: left;
    margin-top: 4%;
    border-radius: 100px;
}
p{
    display: inline-block;
    width: 160px;
    margin-left:10px;
}